@use "system" as *;

.header_inner {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: $baseColor;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  height: 72px;

  .day {
    height: 72px;
    display: flex;
    align-items: center;
    top: 0;
    right: 84px;
    padding-left: 12px;
    position: static;
    .output_month-date {
      font-size: 4rem;
      margin-left: 6px;
    }
  }
}

.nav_wrap {
  width: 100%;
}

.menu {
  display: flex;
  padding-right: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  a {
    font-family: "Barlow";
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 72px;
  }
}
